.navbar-container {
  position: relative;
}

.navbar-custom {
  background-color: white;
  transition-duration: 0.4s;
}
.navbar-custom .navbar-brand {
  color: black;
}
.navbar-custom .navbar-brand > a:hover {
  text-decoration: none;
}
.navbar-custom .navbar-nav > li > a {
  color: rgb(73, 72, 72);
  /* color: rgb(219, 217, 217); */
}
.navbar-custom .navbar-nav > li > a:hover {
  text-decoration: none;
  background: none;
}

.home-container {
  display: block;
}

.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  /* position: absolute; */
  /* margin-top: -200px; */
  /* z-index: 2; */

  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* .image-container{
  background-color: black;
  opacity: 0.5;
  z-index: 1;
} */

.responsive {
  width: 100%;
  height: 500px;
  /* float: right; */
  z-index: -1;
  /* position: absolute; */
  filter: brightness(50%);
  display: flex;
  object-fit: cover;
}

.content {
  margin-top: 50px;
  position: relative;
}

.home-text-container {
  width: 100%;
  z-index: 1;
  position: absolute;
  /* float: left; */
}

.home-text-container .home-detail-header {
  margin-top: 50px;
  font-size: 40px;
  display: block;
  color: white;
  padding-left: 20px;
}
.home-text-container .home-detail {
  left: 20%;
  /* margin-top: 50px; */
  display: block;
  padding-left: 20px;
  color: white;
  /* width: 100px; */
  /* width: 50%; */
  /* float: right; */
}

.home-text-container .home-button-container {
  float: right;
  display: block;
  margin-right: 50px;
  margin-top: 100px;
}

.home-data-container .home-data-text-container {
  background-color: black;
  color: white;
  float: left;
  width: 30%;
}

.image2-container img {
  /* float: right; */
  width: 70%;
  height: auto;
  object-fit: cover;
  /* position: absolute; */
  display: inline-block;
  /* right: 0px; */
}

.data-explain-container {
  text-align: center;

  padding-top: 50px;
  font-size: 40px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
  font-size: 25px;
}
.custom-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.custom-button:hover {
  background-color: #555555;
  color: white;
}

.upload-body {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  /* top: 50%; */
  /* position: absolute; */
}

.submit-form {
  /* position: absolute; */
  position: relative;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
  margin-top: 200px;
}

.submit-form .file-input-text {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}

.submit-form .file-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.submit-form .submit-button {
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117a60;
  transition: all 0.2s ease;
  outline: none;
}

.submit-form .submit-button:hover {
  background: #149174;
  color: #0c5645;
  cursor: pointer;
}

.submit-form .submit-button:active {
  border: 0px;
}

.submit-container {
  display: block;
  margin-top: 60px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.submit-container .analyze-predict-form  {
  /* background-color: antiquewhite; */
  /* padding-left: 100px; */
  display: flex;
  /* display: inline-block; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.analyze-predict-text  {
  float: left;
  text-align: center;
  width: 80%;
  padding-left: 20px;
  padding-top: 30px;
  /* display: flex; */
}

.analyze-predict-header {
  /* display: inline-block; */
  font-size: 30px;
  font-weight: bold;
}

.analyze-predict-detail {
  /* display: inline-block; */
  /* max-width: 200px; */
  /* justify-content: center; */
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 50px;
}

.analyze-predict-button {
  border: none;
  /* padding: 16px 32px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-left: 100px;
  margin-top: 100px ;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
  height: 35px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.analyze-predict-button:hover {
  background-color: #555555;
  color: white;
}



