.navbar-container {
  position: relative;
}

.navbar-custom {
  background-color: #fbf1f1;
  transition-duration: 0.4s;
}
.navbar-custom .navbar-brand {
  color: #393e46;
}
.navbar-custom .navbar-brand > a:hover {
  text-decoration: none;
}
.navbar-custom .navbar-nav > li > a {
  color: rgb(73, 72, 72);
  /* color: rgb(219, 217, 217); */
}
.navbar-custom .navbar-nav > li > a:hover {
  text-decoration: none;
  background: none;
}

.home-container {
  display: block;
}

.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  /* position: absolute; */
  /* margin-top: -200px; */
  /* z-index: 2; */

  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* .image-container{
  background-color: black;
  opacity: 0.5;
  z-index: 1;
} */

.responsive {
  width: 100%;
  max-height: 75vh;
  /* float: right; */
  z-index: -1;
  /* position: absolute; */
  filter: brightness(50%);
  display: flex;
  object-fit: cover;
}

.content {
  margin-top: 50px;
  position: relative;
}

.home-text-container {
  width: 100%;
  height: 75vh;
  z-index: 1;
  position: absolute;
  padding: 3%;
  /* float: left; */
}

.home-text-container .home-detail-header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 48px;
  display: block;
  color: white;
  padding-left: 20px;
}
.home-text-container .home-detail {
  left: 20%;
  font-size: 20px;
  /* margin-top: 50px; */
  display: block;
  padding-left: 60px;
  color: white;
  /* width: 100px; */
  /* width: 50%; */
  /* float: right; */
}

.home-text-container .home-button-container {
  position: absolute;
  bottom: 10%; 
  right: 7%;
  display: block;
  margin-right: 10%;
  /*margin-top: 100px;*/
}

.home-data-container .home-data-text-container {
  background-color: #393e46;
  color: white;
  float: left;
  width: 33%;
  height: 94vh;
}

.home-data-text-container .home-data-header {
  display: block;
  margin: 30px 0px;
  text-align: center;
  font-size: 28px;
}

.home-data-text-container .home-data-detail {
  display: block;
  padding: 3px 10% 3px 10%;
  font-size: 18px;
}

.image2-container img {
  /* float: right; */
  width: 67%;
  height: 94vh;
  object-fit: cover;
  /* position: absolute; */
  display: inline-block;
  /* right: 0px; */
}

.data-explain-container {
  text-align: center;
  padding: 40px;
  font-size: 40px;
  background-color: #f3f4ed;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 180px;
  height: 60px;
  font-size: 24px;
}
.custom-button {
  background-color: #fbf0f0;
  color: black;
  border: 2px solid #4e3620;
  border-radius: 20px 0px 20px 0px;
  /*border-radius: 15px;*/
}

.custom-button:hover {
  background-color: #7c7575;
  color: white;
  border: 2px solid white;
  border-radius: 40px 0px 40px 0px;
}

/*.button-cancel {
  position: absolute;
  text-align: center;
  color: #fff;
  background: #fd3c3c;
  border: none;
  border-radius: 100%;
  size: 100px;
  font-size: 16px;
}*/

.upload-body {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  /* top: 50%; */
  /* position: absolute; */
}

.submit-form {
  /* position: absolute; */
  position: relative;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
  margin-top: 200px;
}

.submit-form .file-input-text {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}

.submit-form .file-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.submit-form .button-container {
  margin-top: 25px;
  clear: both;
}

.submit-form .submit-button {
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 339px;
  height: 35px;
  margin-top: -20px;
  margin-right: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117a60;
  transition: all 0.2s ease;
  outline: none;
}

.submit-form .submit-button:hover {
  background: #149174;
  color: #0c5645;
  cursor: pointer;
}

.submit-form .submit-button:active {
  border: 0px;
}

.submit-form .cancel-button {
  margin: 0;
  color: #fff;
  background: #f05945;
  border: none;
  width: 160px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  margin-right: 1px;
  border-radius: 4px;
  border-bottom: 4px solid rgba(122, 17, 17, 0.548);
  transition: all 0.2s ease;
  outline: none;
}

.submit-form .cancel-button:hover {
  background: #b14334;
  color: #560c0c;
  cursor: pointer;
}

.submit-form .cancel-button:active {
  border: 0px;
}

.submit-container {
  display: block;
  margin-top: 25vh;
  height: 100%;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.submit-container .analyze-form  {
  background-color: #596e79;
  /* padding-left: 100px; */
  display: flex;
  /* display: inline-block; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: outset;
  border-color: #f7f3e9;
  border-width: 1px;
  border-radius: 30px 0px 30px 0px;
}

.analyze-text  {
  float: left;
  margin-right: 5%;
  text-align: center;
  width: 80%;
  padding-left: 20px;
  padding-top: 30px;
  /* display: flex; */
}

.analyze-header {
  /* display: inline-block; */
  font-size: 30px;
  font-weight: bold;
  color: #eeeeee;
}

.analyze-detail {
  /* display: inline-block; */
  /* max-width: 200px; */
  /* justify-content: center; */
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 50px;
  color: white;
}

.submit-container .predict-form  {
  background-color: #f7f3e9;
  /* padding-left: 100px; */
  display: flex;
  /* display: inline-block; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: outset;
  border-color: #4e3620;
  border-width: 1px;
  border-radius: 30px 0px 30px 0px;
}

.predict-text  {
  float: left;
  margin-right: 5%;
  text-align: center;
  width: 80%;
  padding-left: 20px;
  padding-top: 30px;
  /* display: flex; */
}

.predict-header {
  /* display: inline-block; */
  font-size: 30px;
  font-weight: bold;
  color: #393e46;
}

.predict-detail {
  /* display: inline-block; */
  /* max-width: 200px; */
  /* justify-content: center; */
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 50px;
  color: black;
}

.analyze-predict-button {
  border: none;
  /* padding: 16px 32px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70%;
  transition-duration: 0.6s;
  cursor: pointer;
  width: 110px;
  height: 40px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 10px 0px 10px 0px;
}

.analyze-predict-button:hover {
  background-color: #555555;
  color: white;
  border: 2px solid #c5c5c5;
  border-radius: 20px 0px 20px 0px;
}

.predict-body{
  margin-left: 20px;
  padding-top: 20px;
  margin-right: 20px;
}

.select-target-column-container{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.predict-header{
  text-align: center;
}

.selecter-header{
  text-align: center;
  margin-bottom: 20px;
}

.selecter-body{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected-target-column{
  background-color: #f4511e;
  color: white;
  padding: 16px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.selected-target-column:hover{
  cursor: pointer;
  opacity: 1;
}

.refresh-button{
  float: right;
  margin-right: 20px;
}


