{% extends "base.html" %}
{% block head%}
    {{super()}}
{% endblock %}
{% block content %}
    <script>
        function goBack(){
            window.history.back();
        }      
        function showAnswer(id){
            var checkBox = document.getElementById(id)
            var answer_id = document.getElementById("answer-for-"+id)
            var table = document.getElementById("table-for-"+id)
            var image = document.getElementById("picture-for-"+id)
            if (checkBox.checked == true){
                console.log('checked')
                console.log(table)
                answer_id.style.display = 'block'
                // table.style.display = 'block'
                // image.style.display = 'block'
            } else {
                console.log('unchecked')
                answer_id.style.display = 'none'
                // table.style.display = 'none'
                // image.style.display = 'none'
            }       
        } 
        function showAnswerAsso(btnid) {
            var id = btnid.slice(4);
            //console.log(id)
            var container = document.getElementById("container-"+id)
            var answer = document.getElementById("answer-"+id)
            var question = document.getElementById("question-"+id)
            var button = document.getElementById("btn-"+id)
            if(answer.style.display === 'block'){
                button.innerHTML = "Show"
                answer.style.display = 'none'
                container.scrollIntoView({ block: 'start',  behavior: 'smooth' });
            } else {
                button.innerHTML = "Hide"
                answer.style.display = 'block'
                container.scrollIntoView({ block: 'start',  behavior: 'smooth' });
            }
        }
    </script>   
    <style>
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            /* font-size: 22px; */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .container input {
            position: absolute;
            /* opacity: 50; */
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        /* TEST FOR ME ONLY*/
        .container-asso {
            display: block;
            padding-left: 35px;
            margin-left: 10%;
            margin-right: 10%;
        }
        .container-asso .seperator {
            height: 70px
        }
        .container-asso .header {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .container-asso .btn-show { 
            margin-left: 5%;
            width: 100px;
            height: 40px;
        }
        .container-asso .container-answer {
            text-align: center;
            display: none;
        }
        .container-answer .image-container {
            margin: 20px;
            text-align: center;
        }
        img {
            max-width: 60%;
            height: auto;
            min-width: 385px;
        }
        .container-answer .details {
            font-size: 16px;
        }
        
    </style>
    <body>
        <p>
            {{msg}}
        </p>

        <form name='select_question' >
            {% for id,question_answer in qa.items()%}
                
                <label class="container">{{question_answer[0]}}
                    <input name="questions" type="checkbox" 
                    id="{{id}}" onclick="showAnswer(this.id)"> 
                    <span class="checkmark"></span>
                </label> 
                
                <p id="answer-for-{{id}}" style="display: none;">
                    <!-- {{question_answer[1:]}} -->
                    {% for each_answer in question_answer[1:] %}
                        {% if each_answer is iterable  %}
                            <table id="table-for-{{id}}" >
                                <thead>
                                    <tr>
                                        {% for col in each_answer[0] %}
                                            <th>
                                                {{col}}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in each_answer[1] %}
                                    <tr>
                                        {% for col,row_ in zip(each_answer[0],row) %}
                                            <td>
                                                {{row_}}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if '.png' in each_answer %}
                            <img id="picture-for-{{id}}" src="{{each_answer}}" >
                        {% endif %}
                        
                    {% endfor %}
                </p>
                
            {% endfor %}
            <input type="submit" value="Submit" onclick="showAnswers()">
        </form>

        <button onclick="goBack()">
            Back
        </button>
        <!-- Test -->
        <form name='select_question' >
            {% for id,question_answer in qa.items()%}
                <div class="container-asso" id="container-{{id}}">
                    <div class="seperator"></div>
                    <div class="header" id="question-{{id}}">{{question_answer[0]}}</div>
                    <button class="btn-show" type="button" id="btn-{{id}}" onclick="showAnswerAsso(this.id)">Show</button>
                    <div class="container-answer" id="answer-{{id}}" >
                        <div class="image-container">
                            {% for each_answer in question_answer[1:] %}
                                {% if '.png' in each_answer %}
                                    <img src="{{each_answer}}" />
                                {% endif %}
                            {% endfor %}  
                        </div>
                        <div class="details">Sample Text.</div>
                    </div> 
                </div>
            {% endfor %}
        </form>
        <div style="height: 70px;"></div>
    </body>

  


{% endblock %}