{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head%}
    {{super()}}
{% endblock %}
{% block content %}

    <script>
        function goBack(){
            window.history.back();
        }       
    </script>    
    <body>
        <p>
            {{msg}}
        </p>
        <!-- <table>
            {% for questions , answers in qa.items() %}
            <tr>
                <th>
                    {{questions}}
                </th>
                <td>
                    {% for answer in answers %}
                        {{answer[0]}}  
                        <p>
                            {{answer[1]}}
                            <img src="Clustering/testpic.jpg">
                            
                        </p>                       
                    {% endfor %}            
                </td>
            </tr>
            {% endfor %}
        </table> -->
        <select name="questions" id="questions" multiple>
            {% for questions,answers in qa.items()%}
                <option value="{{questions}}"> {{questions}} </option>
            {% endfor %}
        </select>

        <button onclick="goBack()">
            Back
        </button>
        
    </body>


{% endblock %}