<htmml>
    <link rel='stylesheet' type="text/css" href="style.css">
    <head>
        {% block head %}
            <meta charset="UTF-8">         
            <title>
                {% block title %}
                    Datast
                {% endblock %}
            </title>
        {% endblock %}
    </head>
    <style>

        .navbar{
            background-color: blue;
            color: white;
        }

        h1:hover{
            cursor: pointer;
        }
        
        .foot {
            position: fixed;
            bottom: 0px;
            background-color: black;
            color: white;
            width: 100%;
            left: 0px;
        
        }
    </style>
    <body>
        <div class='navbar' onclick="location.href='/'">
            <h1>
                Datast
            </h1>
        </div>
        {% block content%}{% endblock %}
        <div class='foot'>
            Have a good day
        </div>
    </body>   
</htmml>