{% extends "base.html" %} {% block head %}{{super()}}{% endblock %} {% block
content %}

<script>
  // window.addEventListener("load", function(e){
  //   window.location.href = window.location.href
  // })
  // window.location.href = window.location.href
  // function LoadOnce() { 
  //   window.location.reload(true); 
  // } 
  // window.onload = function() {
  //   if(!window.location.hash) {
  //       window.location = window.location + '#loaded';
  //       window.location.reload(true);
  //   }
  // }
</script>
<body >
  <div class="home-container">
    <div class="home-text-container">
      <!-- <p class="home-header">Datast</p> -->
      <p class="home-detail-header">
        We are auto-data-science web apllication which will help you 
        
      </p>
      <p class="home-detail">
        - analyze and generate the question that might be interesting
      </p>
      <p class="home-detail">
        - predict the data from your input
      </p>
      <div class="home-button-container">
        <button class='button custom-button' onclick="location.href = '/upload'">Start Now!</p>
      </div>  
    </div>
    <div class="image-container">
      <img
        src="static/pexels-pixabay-259006.jpg"
        alt="background"
        class="responsive"
      />
    </div>
  
  </div>
  <div class="data-explain-container">
    Why data is so important
  </div>
  <div class="home-data-container">
    <div class="home-data-text-container">
      <p class="home-data-header">
        Why data is so important
      </p>
      <p class="home-data-detail">
        - Helloooooo
      </p>
      <p class="home-data-detail">
        - Data makes the world go round
      </p>
      <p class="home-data-detail">
        - Procrastination is fun
      </p>
      <p class="home-data-detail">
        - I dont wanna do this anymore
      </p>
      <p class="home-data-detail">
        - Free me from this suffering
      </p>
    </div>
    
    <div class="image2-container">
      <img
        src="static/pexels-pixabay-265087.jpg"
        alt="background"
      />
    </div>
  </div>
</body>

{% endblock %}
