{% extends "base.html" %} {% block head%} {{super()}} {% endblock %} {% block content %}
<html>
    <script>
        function goBack(){
            window.history.back();
        }   
    </script>
    <body>
        {% for col,selector in col_val_selector.items() %}
        <div>
            <p>
                {{col}} : {{selector}}
            </p>
        </div>
        {% endfor %}
        <div>
            {{target_column}} is {{answer}}
        </div>
        <div class="predict-back-button">
            <button class="btn-back" onclick="goBack()">
                Back
            </button>
        </div>
        
    </body>
    
</html>
{% endblock %}
